*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.solarSystem img{
    width: 100px;
    height: 100px;
}
body{
    color: white;
}
.solarSystem{
    background-color: black;
    height: 250vh;

}
:is(h2, #sun){
    width: fit-content;
}
/*.solarSystem img {
    width: 300px;
    height: 300px;
}
*/
/*.solarSystem h2{
    text-align: center;
}*/

#sun {
    position: fixed;
    top: 200px;
    left: 50px;
    right:50px;
    
}
#earth {
    position: absolute;
    top: 50;
}

#moon {
    position: relative;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right:10px;
}
#mars {
    /*static*/
}
#asteroid {
    position: sticky;
    top: 0;
    right: 50;
    left: 50;
}